td {
  border :1px solid black;
  padding: 0.5rem;
  text-align: center;
}

thead > tr > td {
  font-weight: bold;
}

h1 {
  text-align: center;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
}

html {
  padding: 10px;
}

.btnStart {
  font-size: 1rem;
}

.ball__current {
  color: red;
}

span {
  padding: 0 0.5rem;
}

.boards {
  display: inline-flex;
  flex-flow: wrap;
}

.board {
  padding: 5px 10px;
}