td {
  border :1px solid black;
  text-align: center;
  padding: 0.25rem;
}

td > * {
  padding: 0.75rem;
}

thead > tr > td {
  font-weight: bold;
}

h1 {
  text-align: center;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
}

html {
  padding: 10px;
}

.ball__current {
  color: red;
  border-radius: 50%;
  background-color: aquamarine;
}

.ball__marked {
  color: black;
  border-radius: 50%;
  background-color: beige;
}

span > .ball__current {
  padding: 5px 7px;
}

span {
  border-radius: 50%;
  background-color: beige;
  padding: 0.25rem 0.5rem;
  margin: 0 0.5rem;
}

.boards {
  display: inline-flex;
  flex-flow: wrap;
}

.board {
  padding: 5px 10px;
}

.winner {
  color: blue;
  font-weight: bold;
}