.controls {
  text-align: center;

  & button {
    border: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin: 0 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s background-color ease-in, 0.3s transform linear, 1s display linear;

    &:first-child {
      background-color: lightgreen;
      &:hover {
        background-color: darken(lightgreen, 15);
      }
      &:active {
        transform: scale(0.9);
      }
    }
    &:nth-child(2) {
      display: inline-block;
      background-color: lightblue;
      &:hover {
        background-color: darken(lightblue, 15);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}

.no-display {
  display: none !important;
}

.form {
  & button {
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 0.5rem;
  }

  & input {
    border-radius: 0.5rem;
    padding: 0.25rem;
  }
}